.carousel-item {
    height: 95vh;
    min-height: 250px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption {
    border-radius: 25px;
}

.carousel-caption:hover {
    background-color: wheat;
    transition: 0.5s;
}
